<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
  <head>
    <meta charset="utf-8" />
    <title>編集画面</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
  </head>
  <body>
    <div class="container" layout:fragment="content">
      <h1>編集画面</h1>
        <form th:action="@{/employees/{id}(id=*{id})}" th:method="put" th:object="${employee}">
        <div class="form-group" th:classappend="${#fields.hasErrors('name')}? has-error">
          <label class="control-label">社員名</label>
          <input class="form-control" type="text" th:field="*{name}" />
          <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('age')}? has-error">
          <label class="control-label">年齢</label>
          <input class="form-control" type="number" th:field="*{age}" />
          <span class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('sex')}? has-error">
          <label class="control-label">性別</label>
          <input class="form-control" type="text" th:field="*{sex}" />
          <span class="text-danger" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"></span>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('address')}? has-error">
          <label class="control-label">住所</label>
          <input class="form-control" type="text" th:field="*{address}" />
          <span class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
        </div>
          <div class="form-group" th:classappend="${#fields.hasErrors('department')}? has-error">
          <label class="control-label">所属部門</label>
          <input class="form-control" type="text" th:field="*{department}" />
          <span class="text-danger" th:if="${#fields.hasErrors('department')}" th:errors="*{department}"></span>
        </div>
        <button class="btn btn-outline-dark" type="submit">更新</button>
      </form>
      <div class="pull-right">
        <a class="btn btn-link" href="/employees">一覧画面へ</a>
      </div>
    </div>
  </body>
</html>